@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#header-content {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#header-content body {
  font-family: "Poppins", sans-serif;
}

#header-content html {
  scroll-behavior: smooth;
}

#header-content p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */
#header-content a,
#header-content .btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
#header-content nav,
#header-content .nav-links {
  display: flex;
}

#header-content nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#header-content .nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

#header-content a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

#header-content a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

#header-content .logo {
  font-size: 2rem;
}

#header-content .logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#header-content #ham-nav {
  display: none;
}

#header-content .hamburger-menu {
  position: relative;
  display: inline-block;
}

#header-content .hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

#header-content .hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

#header-content .menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

#header-content .menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

#header-content .menu-links li {
  list-style: none;
}

#header-content .menu-links.open {
  max-height: 300px;
}

#header-content .hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

#header-content .hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

#header-content .hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

#header-content .hamburger-icon span:first-child {
  transform: none;
}

#header-content .hamburger-icon span:first-child {
  opacity: 1;
}

#header-content .hamburger-icon span:first-child {
  transform: none;
}

#header-content #blogerz {
  cursor: context-menu;
  text-decoration: none;
  font-family: 'Single Day', cursive;
  font-size: 70px;
}

#header-content .search {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: px solid;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

